html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#container {
    background-color: #fff;
    width: 70%;
    margin: 10em auto 1em;
    position: relative;
    padding: 2em;
    border-radius: 15px;
    padding-left: 0;
}

#images {
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    display: block;
    width: 55%;
    position: relative;
}

#top-mobile-img {
    width: 80%;
    position: absolute;
    top: -8.2rem;
    left: 50%;
    transform: translateX(-50%);
}

#bg-pattern-img-mobile {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

#top-desktop-img,
#box-desktop-img {
    display: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: -.3em;
}

h2 {
    font-size: 1.1rem;
    color: hsl(240, 6%, 50%);
    font-weight: 600;
}

.question-div {
    border-bottom: 2px solid hsl(240, 30%, 92%);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h2:hover,
.question h2:active {
    color: hsl(14, 88%, 65%);
}

.arrow {
    width: 4%;
    cursor: pointer;
}

.question-div p {
    color: hsl(240, 6%, 50%);
    font-weight: 500;
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    #container {
        width: 55%;
        display: flex;
        padding: 5em 8em 5em 0;
        margin-top: 7em;
        justify-content: flex-end;
        background-image: url('images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position-x: -35rem;
        background-position-y: -17rem;
        position: relative;
    }
    #images {
        margin-left: 0;
        padding-left: 0;
        overflow: hidden;
        display: block;
        width: 55%;
        position: relative;
        left: -1.4rem;
    }
    #top-desktop-img {
        display: block;
        width: 110%;
        position: absolute;
        left: -6rem;
        top: 48%;
        transform: translateY(-50%);
    }

    #box-desktop-img {
        display: block;
        width: 15%;
        height: 25%;
        position: absolute;
        left: 6rem;
        top: 65%;
        transform: translateY(-50%);
        margin-left: 0;
    }

    #faq-card {
        max-width: 45%;
        margin-left: 1em;
    }

    #top-mobile-img {
        display: none;
    }

    #bg-pattern-img-mobile {
        display: none;
    }
}
