html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#container {
    background-color: #fff;
    width: 70%;
    margin: 10em auto;
    position: relative;
    padding: 2em;
    border-radius: 15px;
}

#top-mobile-img {
    width: 300px;
    position: absolute;
    top: -135px;
    left: 55px;
}

h1 {
    margin-top: 2.5em;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 1.1rem;
    color: hsl(240, 6%, 50%);
    font-weight: 600;
}
.question-div {
    border-bottom: 2px solid hsl(240, 30%, 92%);
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h2:hover,
.question h2:active {
    color: hsl(14, 88%, 65%);
}
.arrow {
    width: 4%;
    cursor: pointer;
}
.arrow-up {
    transform: rotate(180deg);
}
.question-div p {
    color: hsl(240, 6%, 50%);
    font-weight: 500;
    display: none;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    #container {
        width: 60%;
    }
    #top-mobile-img {
        width: 600px;
        position: absolute;
        top: 100px;
        left: -125px;
    }
    #faq {
        width: 40%;
        
    }
}
